.Recipe {
  position: relative;
  &__Source {
    margin-top: 4rem;
    font-weight: bold;
    color: #b29177;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  &__Title {
    font-size: 43px;
    font-weight: lighter;
    line-height: 2;
    color: white;
  }
  &__Image {
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 30%;
    z-index: 1;
    object-fit: none;
  }
}
