.Recipe {
  position: relative;
  width: 73%;
  &__Source {
    margin-top: 4rem;
    font-weight: bold;
    color: #b29177;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  &__Title {
    font-size: 43px;
    font-weight: lighter;
    line-height: 2;
    color: white;
  }
  &__Image {
    border-radius: 20px;
    transition: all 0.7s ease;
    &:hover {
      transform: scale(1.1) rotate(10deg);
    }
  }
  &__Wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
